<div class="center-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>About</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>TwitFollowStats allows you to view follow statistics for a particular Twitter user.</p>
            <p>Simply enter their Twitter handle on the welcome page, and you can see a variety of statistics, including:</p>
            <ul>
                <li>Number of followers</li>
                <li>Number of following</li>
                <li>Percentage of followers that are mutuals</li>
                <li>Percentage of following that are mutuals</li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>
