<button mat-button [matMenuTriggerFor]="menu"><mat-icon>keyboard_arrow_down</mat-icon><span>Statistics Type</span></button>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="statType = 'general'">General</button>
    <button mat-menu-item (click)="statType = 'demographics'">Demographics</button>
</mat-menu>
<app-advanced-general-stats
    *ngIf="statType === 'general'"
    [followerGeneralStats]="advancedStats.followerStats.general"
    [followingGeneralStats]="advancedStats.followingStats.general"
></app-advanced-general-stats>
<app-advanced-demographic-stats
    *ngIf="statType === 'demographics'"
    [followerDemographicStats]="advancedStats.followerStats.demographics"
    [followingDemographicStats]="advancedStats.followingStats.demographics"
></app-advanced-demographic-stats>
