<div class="center-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title> Stats </mat-card-title>
            <mat-card-subtitle> Percentage of users followed / following who are mutuals. </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="stats">
            <div gdAreas="profile profile | followers following">
                <div gdArea="profile">
                    <app-user-profile></app-user-profile>
                </div>
                <app-percentage-display
                    gdArea="followers"
                    [numerator]="stats.mutualCount"
                    [denominator]="stats.followerCount"
                    [label]="'Followers'"
                ></app-percentage-display>
                <app-percentage-display
                    gdArea="following"
                    [numerator]="stats.mutualCount"
                    [denominator]="stats.followingCount"
                    [label]="'Following'"
                >
                </app-percentage-display>
            </div>
        </mat-card-content>
    </mat-card>
</div>
