<div class="center-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title> Stats </mat-card-title>
            <mat-card-subtitle> Percentage of users followed / following who are mutuals. </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="stats">
            <div fxLayout="row">
                <div fxFlex="20"></div>
                <mat-list fxFlex="60" fxLayout="row" fxLayoutAlign="center center">
                    <app-user-profile [user]="twitterUser"></app-user-profile>
                </mat-list>
                <div fxFlex="20"></div>
            </div>
            <mat-tab-group>
                <mat-tab label="Basic">
                    <app-basic-stats [stats]="stats"></app-basic-stats>
                </mat-tab>
                <mat-tab label="Advanced">
                    <app-advanced-stats></app-advanced-stats>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <mat-card-actions>
            <app-back-button [destination]="'/user-search/' + userHandle" *ngIf="twitterUser"></app-back-button>
        </mat-card-actions>
    </mat-card>
</div>
