<mat-toolbar>
    <!--TODO: make welcome font bigger-->
    <a mat-button aria-label="Main logo" href="#" title="Welcome">Welcome</a>
    <span class="spacer"></span>
    <a
        mat-button
        aria-label="Github repository"
        target="_blank"
        rel="noopener"
        href="https://github.com/relativeabsolute/twit-follow-stats"
        title="Github"
    >
        <img src="assets/GitHub-Mark-Light-32px.png" /> Github
    </a>
    <a mat-button aria-label="Developer twitter" target="_blank" rel="noopener" href="https://twitter.com/rebby_the_nerd">
        <img src="assets/Twitter_Logo_WhiteOnImage.svg" /> @rebby_the_nerd
    </a>
</mat-toolbar>

<div class="content" role="main"></div>
<router-outlet></router-outlet>
